$contact-grid: (
  columns: 2,
  gutter: 10px,
);

#contact{
  @include grid-container;

  @include respond-to($small-and-default-screen){
      p{
        margin-bottom: rem($font-size-default);
      }
  }

  #map-hh,
  #map-hl {
    width: 100%;
    height: rem(350);
    margin-bottom: rem(25);
  }

  address{
    display: block;
    padding: 0 rem($content-padding-left-right);
  }

}
